* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #000000 45%, #1b0e63);
    color: #ffffff;
}

header {
    background: #111;
    color: #fff;
    padding: 20px;
}

nav {
    float: right;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.main .title {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.main p {
    font-size: 1.5rem;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    flex-wrap: wrap;
    gap: 120px;
}

.about img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.about-text {
  max-width: 600px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-text p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}